---
hosts:
{%- for x in range(1, 31) %}
{%- if x in range(1, 10) %}
  - host: n9k0{{x}}-{{ROLE}}-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{%- else %}
  - host: n9k{{x}}-{{ROLE}}-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{%- endif %}
{% endfor %}
{%- for x in range(1, 11) %}
{%- if x in range(1, 10) %}
  - host: n5k0{{x}}-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{%- else %}
  - host: n5k{{x}}-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{%- endif %}
{% endfor %}
{%- for x in range(1, 3) %}
  - host: n9k0{{x}}-{{BLROLE}}-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}
{%- for x in range(1, 3) %}
  - host: n9k0{{x}}-{{SPINEROLE}}-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}
{%- for x in range(1, 3) %}
  - host: n9k0{{x}}-corp-dci-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}
{%- for x in range(3, 5) %}
  - host: n9k0{{x}}-eng-dci-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}
{%- for x in range(1, 3) %}
  - host: core0{{x}}-mgmt-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}{%- for x in range(1, 3) %}
  - host: n9k0{{x}}-cb-mdf-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}
{%- for x in range(1, 3) %}
  - host: access0{{x}}-mgmt-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}
{%- for x in range(1, 3) %}
  - host: n5k0{{x}}-engdmz-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}
{%- for x in range(3, 5) %}
  - host: rce0{{x}}-eng-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}
{%- for x in range(3, 7) %}
  - host: rce0{{x}}-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
{% endfor %}
{%- for x in range(1, 3) %}
  - host: n9k0{{x}}-aggr-{{LOCATION}}
    device_type: cisco_nxos_ssh
    username: svc.dcmetroscript
    password: Kp!@9z2@EdSp3F1p.^R
